[Unit]
Description=Apply MusicPI realtime audio profile
PartOf=maschinepi.target
Conflicts=mixxx.target mixxx-audio-profile.service
After=user@1000.service
Wants=user@1000.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/mpi-audio-profile maschinepi
ExecStop=/usr/local/sbin/mpi-audio-profile reset
RemainAfterExit=yes
